In [1]:
import numpy as np
import pandas as pd

In [2]:
#Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [12]:
df

             A         B
G1 1 -1.072782 -1.411723
   2 -1.590013  0.003924
   3 -0.170157  0.187712
G2 1  0.068206 -1.229108
   2  0.062317  0.656477
   3  1.566493 -1.806649

In [13]:
df.loc['G1']

          A         B
1 -1.072782 -1.411723
2 -1.590013  0.003924
3 -0.170157  0.187712

In [14]:
df.loc['G1'].loc[1]

A   -1.072782
B   -1.411723
Name: 1, dtype: float64

In [16]:
df.index.names = ['Groups','Num']

In [17]:
df

                   A         B
Groups Num
G1     1   -1.072782 -1.411723
       2   -1.590013  0.003924
       3   -0.170157  0.187712
G2     1    0.068206 -1.229108
       2    0.062317  0.656477
       3    1.566493 -1.806649

In [19]:
df.loc['G2'].loc[2]['B']

0.65647662252668171

In [20]:
df.xs('G1')

            A         B
Num
1   -1.072782 -1.411723
2   -1.590013  0.003924
3   -0.170157  0.187712

In [21]:
df.xs(1,level='Num')

               A         B
Groups
G1     -1.072782 -1.411723
G2      0.068206 -1.229108